<%- include('partials/header'); -%>

<br>

<h1><%= customerData.customerName %></h1>
<p><%= customerData.email %></p>
<p><%= customerData.dateOfBirth %></p>
<p><%= customerData.address %></p>


<%- include('partials/footer'); -%>
